/* Menus Pages */

div[id^='div_id_'] div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.form-check {
    width: 100%;
}

.form-check label {
    padding-left: 5px;
}

.form-check-input:checked {
    background: #d4c248;
    border-color: #d4c248;
}

/* Menu page */

#menus {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 3px solid #ddc439;
}

#menus h3 {
    color: #ddc439;
}

#menus span {
    display: block;
}

/* Menu Slider View */

.slider {
    color: #ddc439;
    position: relative;
    font-size: 1.5rem;
}

.slider:hover {
    color: silver;
}

.slider-forward {
    right: 10px;
}

.slider-back {
    left: 10px;
}

a.slider {
    top: 455px;
}

.hide {
    display: none;
}

.sm-text {
    font-size: 10px;
    font-style: italic;
    font-family: cursive;
}

.m-text {
    font-size: 14px;
    font-family: cursive; 
    margin-top: 5px;
    padding-bottom: 5px;
}

.drink-side {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: auto;
}

/* 
Generic Styling, for Desktops/Laptops
Code gotten from CSS Tricks
https://css-tricks.com/responsive-data-tables/
*/

/* Media queries */

@media screen and (min-width: 768px) {
    div.form-check {
        width: 50%;
    }

    tbody td:nth-of-type(5), tbody td:nth-of-type(6) {
        text-align: center;
    }
    .drink-side {
        flex-direction: row;
    }
    .drinks.sides {
        width: 40%;

    }
    .sides {
        width: 50%;
        align-items: center;
    }
    .drinks {
        width: 50%;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    div.form-check {
        width: 33%;
    }

    tbody td:nth-of-type(5), tbody td:nth-of-type(6) {
        text-align: center;
    }
}

@media 
only screen and (max-width: 767px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block;
	}

    tbody {
        margin-top: 20px;
    }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 64px;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
        margin-left: 3px;
		padding-right: 10px; 
		white-space: nowrap;
        font-weight: 600;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Name"; }
	td:nth-of-type(2):before { content: "Created By"; }
	td:nth-of-type(3):before { content: "Last Updated"; }
	td:nth-of-type(4):before { content: "Active"; }
}