{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'booking/css/datepicker.css' %}">
{% endblock %}

<!-- Create booking form -->
{% block content %}
<div class="m-3">
    <form method="POST" action="{% url 'createbooking' %}" class="form mb-2 p-2 form-style" enctype="multipart/form-data">
        <h1 class="text-center">Create Booking</h1>
        {% csrf_token %}
        {{ form|crispy }}
        {{ form.media }}
        <button type="submit" class="btn form-style">Create</button>
    </form>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $('.datepicker').datepicker();
</script>
{% endblock %}