{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock %}

{% block content %}

<div class="container m-3">
    <!-- Search querys -->
    {% if request.user.is_staff %}
        <form method='GET' class="mb-3">
            <input type='text' name='q' value='{{ request.GET.q }}' autocomplete="off" aria-label="Search Booking by reference"
                placeholder="Search Booking Ref">
            <button class="btn p-0 search-btn" type='submit' value="Search Booking by ref" aria-label="Click to search by booking ref">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <form method='GET' class="mb-3">
            <input type='text' name='d' value='{{ request.GET.d }}' class="datepicker" autocomplete="off" aria-label="Search Bookings by date"
                placeholder="Search Booking Date">
            <button class="btn p-0 search-btn" type='submit' value="Search Booking by ref" aria-label="Click to search by date">
                <i class="fas fa-search"></i>
            </button>
        </form>
    {% endif %}
    <!-- Manage bookings table -->
    <div class="form-style">
        <h1 class="text-center">Bookings List</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Booking Reference</th>
                    <th>Customer</th>
                    <th>Date</th>
                    <th>Time Slot</th>
                    <th>No. Guests</th>
                    {% if user.is_staff %}
                    <th>Table:</th>
                    <th>Capacity:</th>
                    {% endif %}
                    <th><span class="sr-only">Edit Button Column</span></th>
                    <th><span class="sr-only">Delete Button Column</span></th>
                </tr>
            </thead>
            {% for booking in object_list %}
            <tbody>
                <tr>
                    <td>
                        {{ booking.pk }}
                    </td>
                    <td>
                        {{ booking.booking_name }}
                    </td>
                    <td>
                        {{ booking.booking_date }}
                    </td>
                    <td>
                        {{ booking.get_booking_time_display }}
                    </td>
                    <td>
                        {{ booking.number_of_guests }}
                    </td>
                    {% if user.is_staff %}
                    <td>
                        {{ booking.booked_table }}
                    </td>
                    <td>
                        {{ booking.booked_table.capacity }}
                    </td>
                    {% endif %}
                    <td>
                        <a href="{% url 'editbooking' booking.id %}" class="btn button-style m-2">Edit</a>
                    </td>
                    <td>
                        <a href="{% url 'delete_booking' booking.id %}" class="btn button-style m-2">Delete</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

{%endblock%}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd',
    });
</script>
{% endblock %}