html,
body {
    height: 100%;    
}

header {
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

/* Menus Pages */

div[id^='div_id_'] div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.form-check {
    width: 100%;
}

.form-check label {
    padding-left: 5px;
}

footer {
    flex-shrink: 0;
    background-color: darkgray;
}

/* Menu page */

#menus {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 3px solid #ddc439;
}

#menus h3 {
    color: #ddc439;
}

#menus span {
    display: block;
}

.slider {
    color: #ddc439;
    position: relative;
    font-size: 1.5rem;
}

.slider:hover {
    color: silver;
}

.slider-forward {
    right: 10px;
}

.slider-back {
    left: 10px;
}

.hide {
    display: none;
}

.sm-text {
    font-size: 12px;
    font-style: italic;
}

/* Media queries */

@media screen and (min-width: 700px) {
    div.form-check {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    div.form-check {
        width: 33%;
    }
}