<footer class="footer mt-auto py-3 dark-bg">
    <p class="m-0 text-center text-white d-flex align-items-center justify-content-center">
        Follow us:
        <!-- Facebook link opening in a new tab -->
        <a href="https://facebook.com" target="_blank" rel="noopener"
            aria-label="Visit our Facebook page (opens in a new tab)">
            <i class="fab fa-facebook-square ms-3"></i>
        </a>
        <!-- Twitter link opening in a new tab -->
        <a href="https://twitter.com" target="_blank" rel="noopener"
            aria-label="Visit our twitter page (opens in a new tab">
            <i class="fab fa-twitter-square ms-3"></i>
        </a>
    </p>
</footer>