{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'menu/css/menus.css' %}">
{% endblock %}
{% block content %}

<div class="m-3">
    <form method="POST" action="{% url 'createmenu' %}" class="form mb-2 p-2" enctype="multipart/form-data">
        <h1 class="text-center">Create Menu</h1>
            {% csrf_token %}
            {{ form|crispy }}
            {{ form.media }}
            <button type="submit" class="btn green-btn">Create</button>
    </form>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
{% endblock %}