{% extends "base.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'menu/css/menus.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h2>Menu List</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created By</th>
                <th>Last Updated</th>
                <th>Active</th>
            </tr>
        </thead>
        {% for menu in object_list %}
        <tbody>
            <tr>
                <td>
                    {{ menu.name }}
                </td>
                <td>
                    {{ menu.created_by }}
                </td>
                <td>
                    {{ menu.updated_on }}
                </td>
                <td>
                    {% if menu.active %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'editmenu' menu.id %}" class="btn btn-dark m-2">Edit</a>
                </td>
                <td>
                    <a href="{% url 'delete_menu' menu.id %}" class="btn btn-dark m-2">Delete</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{%endblock%}