{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    {% for menu in object_list %}
    -------------------------------------------------------------------
    <p>
        <h2>{{ menu.name }}</h2>
        <p>
            <h5>Starters</h5>

            <ul>
                {% for item in menu.starters.all %}
                <p>
                    <li>{{ item.name }}</li>
                    <li>£{{ item.price }}</li>
                    {% if item.contains_nuts %}
                    <span>*Contains nuts*</span>
                    {% endif %}
                    {% if item.vegetarian %}
                    <span>*Vegetarian*</span>
                    {% endif %}
                    {% if item.vegan %}
                    <span>*Vegan*</span>
                    {% endif %}
                </p>
                {% endfor %}
            </ul>
        </p>
        <p>
            <h5>Main Courses</h5>
            <ul>
                {% for item in menu.mains.all %}
                <p>
                    <li>{{ item.name }}</li>
                    <li>£{{ item.price }}</li>
                    {% if item.contains_nuts %}
                    <span>*Contains nuts*</span>
                    {% endif %}
                    {% if item.vegetarian %}
                    <span>*Vegetarian*</span>
                    {% endif %}
                    {% if item.vegan %}
                    <span>*Vegan*</span>
                    {% endif %}
                </p>
                {% endfor %}
            </ul>
        </p>
        <p>
            <h5>Deserts</h5>
            <ul>
                {% for item in menu.deserts.all %}
                <p>
                    <li>{{ item.name }}</li>
                    <li>£{{ item.price }}</li>
                    {% if item.contains_nuts %}
                    <span>*Contains nuts*</span>
                    {% endif %}
                    {% if item.vegetarian %}
                    <span>*Vegetarian*</span>
                    {% endif %}
                    {% if item.vegan %}
                    <span>*Vegan*</span>
                    {% endif %}
                </p>
                {% endfor %}
            </ul>
        </p>
        <div>
            <div>
                <p>
                    <h5>Sides</h5>
                    <ul>
                        {% for item in menu.sides.all %}
                        <p>
                            <li>{{ item.name }}</li>
                            <li>£{{ item.price }}</li>
                            {% if item.contains_nuts %}
                            <span>*Contains nuts*</span>
                            {% endif %}
                            {% if item.vegetarian %}
                            <span>*Vegetarian*</span>
                            {% endif %}
                            {% if item.vegan %}
                            <span>*Vegan*</span>
                            {% endif %}
                        </p>
                        {% endfor %}
                    </ul>
                </p>
            </div>
            <div>
                <p>
                    <h5>Drinks</h5>
                    <ul>
                        {% for item in menu.drinks.all %}
                        <p>
                            <li>{{ item.name }}</li>
                            <li>£{{ item.price }}</li>
                            {% if item.contains_nuts %}
                            <span>*Contains nuts*</span>
                            {% endif %}
                            {% if item.vegetarian %}
                            <span>*Vegetarian*</span>
                            {% endif %}
                            {% if item.vegan %}
                            <span>*Vegan*</span>
                            {% endif %}
                        </p>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>
        -------------------------------------------------------------------
        {% endfor %}
</div>

{%endblock%}