{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="form-style mt-3 p-3 text-center">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change allauth-form mx-auto">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="button-style mb-2">{% trans "Change Password" %}</button>
        <p><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
    </form>
</div>
{% endblock %}
