/* Date picker */
#ui-datepicker-div {
    background-color: black;
    width: 15em;
}

.ui-datepicker-header a {
    color: #d4c248;
    font-weight: 400;
    text-decoration: none;
}

.ui-datepicker-header a:hover {
    color: #d4c248;
    font-weight: 600;
    cursor: pointer;
}

.ui-datepicker-calendar {
    color: white;
}

.ui-datepicker-month {
    color: white;
}

.ui-datepicker-year {
    color: white;
}

a.ui-datepicker-next {
    float: right;
}

.ui-datepicker-today a {
    background-color: #d4c248;
    color: white;
}

td a {
    color: white;
    text-decoration: none;
}

td a:hover {
    background-color: #d4c248;
    text-decoration: none;
}

/* 
Generic Styling, for Desktops/Laptops
Code gotten from CSS Tricks
https://css-tricks.com/responsive-data-tables/
*/
table {
    width: 100%;
    border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    color: black;
}

td a {
    width: 150px;
}

/* Media queries */

@media screen and (min-width: 700px) {
    div.form-check {
        width: 50%;
    }

    tbody td:nth-last-child(1), tbody td:nth-last-child(2) {
        text-align: center;
    }

    tbody td:nth-last-child(1) a, tbody td:nth-last-child(2) a {
        width: 100px;
    }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block;
	}

    tbody {
        margin-top: 20px;
    }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 64px;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
        margin-left: 3px;
		padding-right: 10px; 
		white-space: nowrap;
        font-weight: 600;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Booking Reference"; }
	td:nth-of-type(2):before { content: "Customer"; }
	td:nth-of-type(3):before { content: "Date"; }
	td:nth-of-type(4):before { content: "Time Slot"; }
    td:nth-of-type(5):before { content: "No. Guests"; }
    td:nth-of-type(6):before { content: "Table"; }
    td:nth-of-type(7):before { content: "Capacity"; }
}

@media screen and (min-width: 1000px) {
    div.form-check {
        width: 33%;
    }
}